*{
    font-weight:400;
    font-size: 32px;
    line-height: 150%;
    margin: 0;

}
html{
    box-sizing: border-box;
}
body{
    background-color: #b4b4b4;
}
header{
    height: 100px;
    background-color: gray;
}
main{
    
    margin-bottom: 50px;
    margin-left: 80px;
    display: flex;
}

textarea{
    
}


.cuadro-de-texto{
    resize: none;
    border: 1px black solid;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{
    color: #0A3871;
}
.cuadro-de-texto:focus{
    outline: none;
}

.cuadro-resultado{
    background-color: white;
    background-image: url(Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.cuadro-resultado:focus{
    outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;
}
.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 37px;
    width: 328px;
}

.boton-copiar{
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:#0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}
.advertencia{
    color: #495057;
    font-size: 18px;
}
footer{
    height: 100px;
    
}